<div class="bg-white dark:bg-gray-800 my-18 ">
    <div class=" mx-auto px-6 sm:px-6 lg:px-8 ">
        <div class="flex flex-col md:flex-row justify-center items-center -mx-4 my-8">
            <div class=" px-4 md:mr-8">
                <div class="h-[460px] rounded-lg bg-gray-300 dark:bg-gray-700 mb-4">
                    <img class="w-full h-full object-cover" 
                    src="https://plus.unsplash.com/premium_photo-1684713510655-e6e31536168d?q=80&w=500&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="Stadium Image">
                </div>
                <div class="flex -mx-2 mb-4">
                    <!-- <div class="w-full px-2">
                        <button class="w-full bg-gray-900 dark:bg-gray-600 text-white py-2 px-4 rounded-full font-bold hover:bg-gray-800 dark:hover:bg-gray-700">Adress</button>
                    </div> -->
                   
                </div>
            </div>
            <div class=" px-4">
                <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-2">Stadium Name</h2>
                <p class="text-gray-600 dark:text-gray-300 text-sm mb-4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <div class="flex mb-3">
                    <div class="mr-3">
                        <span class="font-bold text-gray-700 dark:text-gray-300"><i class="fa-solid fa-location-dot mr-2"></i></span>
                        <span class="text-gray-600 dark:text-gray-300">Tunis</span>
                    </div>
                    <div>
                      <span class="font-bold text-gray-700 dark:text-gray-300"><i class="fa-solid fa-user-group mr-2"></i></span>
                      <span class="text-gray-600 dark:text-gray-300">12</span>
                  </div>
                    
                </div>

                <div class="mb-3">
                    <div>
                        <span class="font-bold text-gray-700 dark:text-gray-300"><i class="fa-solid fa-clock mr-2"></i></span>
                        <span class="text-gray-600 dark:text-gray-300">0:00 - 23:59</span>
                    </div>
                </div>
                <div class="mb-3">
                    <span class="font-bold text-gray-700 dark:text-gray-300 mr-2">Price:</span>
                    <span class="text-gray-600 dark:text-gray-300">95dt</span>
                </div>
                <!-- <div class="w-full px-2">
                    <button class="w-full bg-gray-900 dark:bg-gray-600 text-white py-2 px-4 rounded-full font-bold hover:bg-gray-800 dark:hover:bg-gray-700">Location</button>
                </div> -->
                <div class="grid grid-cols-2 md:grid-cols-3 gap-3 p-4 max-w-[400px] md:max-w-[600px] place-items-center">
                    <img class="hover:opacity-75" src="https://plus.unsplash.com/premium_photo-1684713510655-e6e31536168d?q=80&w=500&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <img class="hover:opacity-75" src="https://plus.unsplash.com/premium_photo-1684713510655-e6e31536168d?q=80&w=500&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <img class="hover:opacity-75" src="https://plus.unsplash.com/premium_photo-1684713510655-e6e31536168d?q=80&w=500&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <img class="hover:opacity-75" src="https://plus.unsplash.com/premium_photo-1684713510655-e6e31536168d?q=80&w=500&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <img class="hover:opacity-75" src="https://plus.unsplash.com/premium_photo-1684713510655-e6e31536168d?q=80&w=500&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <img class="hover:opacity-75" src="https://plus.unsplash.com/premium_photo-1684713510655-e6e31536168d?q=80&w=500&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                </div>
            </div>
        </div>
        
    </div>


    <hr class="my-4 border-t-10 border-gray-900 mx-10 my-10">
    <!-- <div className="my-10">
      <header class="flex flex-col items-center my-10">
        <h3 class="font-bold text-4xl text-black">Stadium hub</h3>
        <h3 class="font-semibold text-yellow-300 text-2xl">
          TROUVER <span class="text-green-500">RESERVER</span> & have fun</h3>
          <h3 class="font-bold text-4xl">Reservation Section</h3>

      </header>
    </div> -->


    <div class="flex flex-col md:flex-row px-8 py-8 mt-10 mb-10">
        <app-review-rating class="md:w-1/4 px-4 border border-black rounded-lg mr-2 bg-black/80"></app-review-rating>
    
            <div class="md:w-3/4 px-4 py-4 ">
              <header class="flex flex-col items-center">
                <h3 class="font-bold text-4xl">Reservation Section</h3>
                <h3 class="font-semibold text-gray-500 text-2xl">Choice your horaire</h3>
              </header>

              <div class="flex flex-col items-center space-y-4 mt-5 ">

                <div class="flex flex-wrap justify-center gap-1 ">
                
                  <div *ngFor="let item of week">
                      <label class="cursor-pointer">
                          <input type="radio" class="peer sr-only" name="pricing" [(ngModel)]="selectedDay" [value]="item" (change)="getAvailbleTiming()" />
                          <div class="w-34 max-w-md rounded-md bg-gray-200 dark:bg-gray-900 p-4 text-gray-600 dark:text-gray-300 ring-2 ring-transparent transition-all hover:shadow peer-checked:text-green-600 peer-checked:ring-green-800 peer-checked:ring-offset-2 peer-checked:bg-white">
                            <div class="flex flex-col justify-center items-center">
                              <div class="flex items-center justify-between">
                                <p class="text-sm font-semibold uppercase text-gray-500 dark:text-gray-400">{{item.day}}</p>
                              </div>
                              <div class="flex items-end justify-between">
                                <p><span class="text-lg font-bold">{{item.date}}</span></p>
                              </div>
                            </div>
                          </div>
                      </label>
                  </div>
  
                  
                </div>
  
                <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5">
                  <div *ngFor="let item of listTimings">
                      <label class="cursor-pointer">
                          <input type="radio" class="peer sr-only" name="horaire" [(ngModel)]="selectedTime" [value]="item" />
                          <div class="w-34 max-w-md rounded-md bg-gray-200 dark:bg-gray-900 p-4 text-gray-600 dark:text-gray-300 ring-2 ring-transparent transition-all hover:shadow peer-checked:text-green-600 peer-checked:ring-green-800 peer-checked:ring-offset-2 peer-checked:bg-white">
                            <div class="flex flex-col justify-center items-center gap-1">
                              <div class="flex items-end justify-between">
                                <p class=" font-bold text-lg ">95 dt</p>
                                
                              </div>
                              <div class="flex items-end justify-between">
                                <p><i class="fa-regular fa-clock mr-2"></i> <span class="text-lg font-bold">{{item.startTime | timeFormat}} - {{item.endTime | timeFormat}}</span></p>
                              </div>
                            </div>
                          </div>
                      </label>
                  </div>
                </div>

              <button class="bg-green-600 text-white rounded-md font-semibold px-4 py-3 w-full hover:bg-green-800 w-full md:w-40" (click)="makeReservation()">Reserver</button>
              
              </div>
            </div>
    </div>

</div>

<app-footer></app-footer>




  

